
      <h1>Hello, {{ title }}</h1>
      <table class="table table-striped">
        <thead class="table-header">
        <tr>
            <th>Id</th>
            <th>Drug Name</th>
            <th>Stock</th>
            
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <!-- <tbody>
    <tr *ngFor="let medicine of medicines">
        <td>{{medicine.id}}</td>
        <td>{{medicine.drugName}}</td>
        <td>{{medicine.stock}}</td>
        
        <td>
          <button (click)="update(medicine.id)" class="btn btn-info">Update</button>
        </td>
        <td>
          <button (click)="delete(medicine.id)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    
    </tbody> -->
    </table>

      <router-outlet />
